<%= render "shared/form-header" %>
<%= form_with model: @user, url: user_registration_path, class: 'form-main', local: true do |f| %>
  <div class="form-wrap">
    <div class='form-header'>
      <h1 class='form-header-text'>
        ログイン
      </h1>
    </div>
    <div class="login-center">
       <div class="field">
         <%= f.label :メールアドレス ,class: "form-label" %><br />
         <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-default"%>
       </div>
       <div class="field">
         <%= f.label :パスワード ,class: "form-label" %><br />
         <%= f.password_field :password, autocomplete: "current-password", class:"input-default"%>
       </div>

       <% if devise_mapping.rememberable? %>
         <div class="field form-check">
           <%= f.check_box :remember_me %>
           <%= f.label :ログイン状態を保存する %>
         </div>
       <% end %>

       <div class="actions">
         <%= f.submit "ログイン" ,class: "form-submit" %>
       </div>
    </div>

    <div class="login-bottom">
      <%= render "devise/shared/links" %>
    </div> 
  </div>
<% end %>






