<!DOCTYPE html>
<html>
  <head>
    <title>MyRoadmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
    </style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
